<!doctype html>
<html lang="zh">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.globals.description %>">
  <meta name="keyword" content="<%= htmlWebpackPlugin.options.globals.keyword %>">

  <link rel="shortcut icon" href="/favicon.ico">
  <meta charset="utf-8">
  <script>
    ! function(e) {
      function t(a) {
        if (i[a]) return i[a].exports;
        var n = i[a] = {
          exports: {},
          id: a,
          loaded: !1
        };
        return e[a].call(n.exports, n, n.exports, t), n.loaded = !0, n.exports
      }
      var i = {};
      return t.m = e, t.c = i, t.p = "", t(0)
    }([function(e, t) {
      "use strict";
      Object.defineProperty(t, "__esModule", {
        value: !0
      });
      var i = window;
      t["default"] = i.flex = function(e, t) {
        var a = e || 100,
          n = t || 1,
          r = i.document,
          o = navigator.userAgent,
          d = o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),
          l = o.match(/U3\/((\d+|\.){5,})/i),
          c = l && parseInt(l[1].split(".").join(""), 10) >= 80,
          p = navigator.appVersion.match(/(iphone|ipad|ipod)/gi),
          s = 1; //i.devicePixelRatio || 1;
        p || d && d[1] > 534 || c || (s = 1);
        var u = 1 / s,
          m = r.querySelector('meta[name="viewport"]');
        m || (m = r.createElement("meta"), m.setAttribute("name", "viewport"), r.head.appendChild(m)), m.setAttribute("content", "width=device-width,user-scalable=no,initial-scale=1,maximum-scale=" + u + ",minimum-scale=" + u), r.documentElement.style.fontSize = a / 2 * s * n + "px"
      }, e.exports = t["default"]
    }]);
    flex(100, 1);
    window.onresize = function() {
      flex(100, 1);
    }
  </script>

  <script src="/pace.min.js"></script>
  <link href="/pace-theme-minimal.css" rel="stylesheet" />

  <% for (var i = 0; i < htmlWebpackPlugin.options.globals.scripts.length; i++) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.globals.scripts[i] %>"></script>
    <% } %>
</head>

<body>
  <div id="root" class="root"></div>
  <script>
    /*fix android bug*/
    if (!Array.prototype.findIndex) {
      Object.defineProperty(Array.prototype, "findIndex", {
        value: function(predicate) {
          if (this === null) {
            throw new TypeError('Array.prototype.find called on null or undefined');
          }
          if (typeof predicate !== 'function') {
            throw new TypeError('predicate must be a function');
          }
          var list = Object(this);
          var length = list.length >>> 0;
          var thisArg = arguments[1];
          var value;

          for (var i = 0; i < length; i++) {
            value = list[i];
            if (predicate.call(thisArg, value, i, list)) {
              return value;
            }
          }
          return undefined;
        }
      });
    }
    if (!Array.prototype.fill) {
      Object.defineProperty(Array.prototype, 'fill', {
        value: function(value) {
          if (this == null) {
            throw new TypeError('this is null or not defined');
          }
          var O = Object(this);
          var len = O.length >>> 0;
          var start = arguments[1];
          var relativeStart = start >> 0;
          var k = relativeStart < 0 ?
            Math.max(len + relativeStart, 0) :
            Math.min(relativeStart, len);
          var end = arguments[2];
          var relativeEnd = end === undefined ?
            len : end >> 0;
          var final = relativeEnd < 0 ?
            Math.max(len + relativeEnd, 0) :
            Math.min(relativeEnd, len);
          while (k < final) {
            O[k] = value;
            k++;
          }
          return O;
        }
      });
    }
    Object.defineProperty(Array.prototype, 'has', {
      value: function(value) {
        var _list = Object(this)
        var _length = _list.length >>> 0
        for (var i = 0; i < _length; i++) {
          if (_list[i] === value) return i
        }
        return -1
      }
    })
    Date.prototype.format = function(format) {
      if (!format) format = 'yyyy-MM-dd';
      var o = {
        'M+': this.getMonth() + 1,
        'd+': this.getDate(),
        'h+': this.getHours(),
        'm+': this.getMinutes(),
        's+': this.getSeconds(),
        'q+': Math.floor((this.getMonth() + 3) / 3),
        'S': this.getMilliseconds()
      };
      if (/(y+)/.test(format)) format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
      for (var k in o) {
        if (new RegExp('(' + k + ')').test(format)) format = format.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (('00' + o[k]).substr(('' + o[k]).length)))
      }
      return format
    };
  </script>

</body>

</html>